@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Text With Gradient */
h5 {
  background: -webkit-linear-gradient(#000, #444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}