@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Text With Gradient */
.title-gradient {
  background: -webkit-linear-gradient(#000, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-gradient-big {
  background: -webkit-linear-gradient(#000, #aaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}